.forminator-step-label,
.forminator-label {
    font-size: 16px;
}

.forminator-button-submit {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid #3B3B3B;
}

.forminator-field--phone {
    color: #667085;
}

.forminator-checkbox-box {
    border-radius: 5px;
}

.forminator-button-upload,
.forminator-button-next,
.forminator-button-back {
    border-radius: 20px;
    border: 1px solid #3B3B3B;
}

.forminator-title {
    font-size: 20px;
    color: #ffffff;
}

.iti__country,
.iti__country-list {
    background-color: black;
    color: #667085;
}

.iti__country-name:hover {
    color: #ffffff;
}

.conditional-text {
    font-size: 16px;
}